.AppoinmentFormSection {
  max-width: 767px;
  margin: 0 auto;
  width: 100%;
}

.pageContactUs .contactInfoRow {
  justify-content: space-between;
  row-gap: 0;
}
@media only screen and (max-width: 1024px) {
  .pageContactUs .contactInfoRow {
    row-gap: 30px;
  }
}
.pageContactUs .contactInfoItem {
  max-width: calc(33.3% - 20px);
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .pageContactUs .contactInfoItem {
    max-width: 100%;
  }
}
.pageContactUs .contactInfoItem .contactInfoCard {
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 15px 0 #ddd;
}
.pageContactUs .contactInfoItem .contactInfoCard:hover {
  transition: 0.5s;
}
.pageContactUs .contactInfoItem .contactInfoCard:hover .contactInfoBody {
  transition: 0.5s;
}
.pageContactUs .contactInfoItem .contactInfoCard:hover .contactInfoBody .iconBox {
  transition: 0.5s;
}
.pageContactUs .contactInfoItem .contactInfoCard:hover .contactInfoBody .iconBox::before {
  transition: 0.5s;
  transform: scale(1) rotate(45deg);
}
.pageContactUs .contactInfoItem .contactInfoCard img {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .pageContactUs .contactInfoItem .contactInfoCard {
    display: flex;
  }
  .pageContactUs .contactInfoItem .contactInfoCard img {
    max-width: 320px;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .pageContactUs .contactInfoItem .contactInfoCard {
    display: block;
  }
  .pageContactUs .contactInfoItem .contactInfoCard img {
    max-width: 100%;
    width: 100%;
  }
}
.pageContactUs .contactInfoItem .contactInfoCard a {
  transition: 0.5s;
  display: block;
  height: 100%;
  width: 100%;
}
.pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody {
  padding: 15px;
  position: relative;
  height: 100%;
  transition: 0.5s;
}
.pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .contactInfoContent {
  transition: 0.5s;
  padding-top: 40px;
  height: 100%;
  text-align: center;
}
.pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .contactInfoContent h5 {
  text-transform: capitalize;
}
.pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .iconBox {
  background: var(--rv-secondary);
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.5s;
  padding: 5px;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  right: 10%;
  top: -30px;
  margin: auto;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 0 15px 0 #999;
}
@media only screen and (max-width: 1024px) {
  .pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .iconBox {
    left: -25px;
    margin-right: auto;
    margin-left: 0;
    top: 0;
    bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .iconBox {
    left: 0;
    margin: auto;
    top: -38px;
    bottom: unset;
  }
}
.pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .iconBox::before {
  content: "";
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 10%;
  background-color: var(--rv-secondary);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.pageContactUs .contactInfoItem .contactInfoCard .contactInfoBody .iconBox img {
  filter: brightness(0) invert(1);
}

.contactFormSection {
  background: #f4f4f4;
}
.contactFormSection .contactsfRow {
  justify-content: space-between;
}
.contactFormSection .contactsfRow .contactsfCol {
  max-width: calc(50% - 15px);
}
@media only screen and (max-width: 1024px) {
  .contactFormSection .contactsfRow .contactsfCol {
    max-width: 100%;
  }
}
.contactFormSection .contactsfRow .contactFormImg {
  position: relative;
  padding-top: 56.6%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .contactFormSection .contactsfRow .contactFormImg {
    padding-top: 80%;
  }
}
.contactFormSection .contactsfRow .contactFormImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  -o-object-position: top;
     object-position: top;
}
@media only screen and (max-width: 1024px) {
  .contactFormSection .contactsfRow .contactFormImg img {
    -o-object-position: center;
       object-position: center;
  }
}

.googleMap .googleMapIframe {
  position: relative;
  height: 100%;
  padding-top: 46.6%;
}
.googleMap .googleMapIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bookAppointment {
  display: none !important;
}/*# sourceMappingURL=appointment.module.css.map */