.factCounter .factCounterImage {
  position: relative;
}
.factCounter .factCounterRow {
  justify-content: space-between;
}
.factCounter .factCounterRow .factCounterBoxList {
  gap: 20px;
}
.factCounter .factCounterRow .factCounterCol1 {
  max-width: calc(50% - 30px);
}
@media only screen and (max-width: 1024px) {
  .factCounter .factCounterRow .factCounterCol1 {
    max-width: 100%;
  }
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox {
  max-width: calc(33.3% - 15px);
  position: relative;
  transition: 0.5s;
}
@media only screen and (max-width: 575px) {
  .factCounter .factCounterRow .factCounterCol1 .factCounterBox {
    max-width: 100%;
  }
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox .factCounterBoxContent h2 {
  color: var(--rv-primary);
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox:hover .iconBox::before {
  transition: 0.5s;
  transform: scale(1) rotate(45deg);
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox .iconBox {
  transition: 0.5s;
  background: var(--rv-secondary);
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  max-width: 60px;
  height: 60px;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox .iconBox img {
  width: 100%;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 11;
}
.factCounter .factCounterRow .factCounterCol1 .factCounterBox .iconBox::before {
  content: "";
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--rv-secondary);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.factCounter .factCounterList {
  padding-top: 30px;
}
.factCounter .factCounterList ul {
  border-top: 1px solid var(--rv-secondary);
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.factCounter .factCounterList ul li {
  display: flex;
  gap: 10px;
}