.loginsection .loginCard {
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #ddd;
  background: var(--rv-primary);
  overflow: hidden;
}
.loginsection .loginCard .loginRow {
  justify-content: space-between;
}
.loginsection .loginCard .loginRow .loginCol {
  max-width: calc(50% - 15px);
}
@media only screen and (max-width: 1024px) {
  .loginsection .loginCard .loginRow .loginCol {
    max-width: 100%;
  }
}
.loginsection .loginCard .loginRow .loginleft {
  color: var(--rv-white);
  padding: 30px;
}
.loginsection .loginCard .loginRow .loginleft h3 {
  color: var(--rv-white);
}
.loginsection .loginCard .loginRow .loginleft .loginhadding {
  max-width: 400px;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .loginsection .loginCard .loginRow .loginleft .loginhadding {
    max-width: 100%;
    text-align: center;
  }
}
.loginsection .loginCard .loginRow .loginleft img {
  border-radius: 10px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.loginsection .loginCard .loginrightCard {
  position: relative;
  height: 100%;
  padding: 25px;
}
.loginsection .loginCard .loginrightCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.loginsection .loginCard .loginrightCard .loginrightCardbody {
  position: absolute;
  left: 0;
  max-width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
  padding: 20px;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.4392156863);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7215686275);
}
@media only screen and (max-width: 1024px) {
  .loginsection .loginCard .loginrightCard .loginrightCardbody {
    position: relative;
  }
}
.loginsection .loginCard .loginrightCard .loginrightCardbody input,
.loginsection .loginCard .loginrightCard .loginrightCardbody select {
  margin-top: 15px;
  width: 100%;
  padding: 10px 15px;
  height: 40px;
  border: 1px solid #bbb;
  font-size: 16px;
  border-radius: 5px;
  background: var(--rv-white);
}
.loginsection .loginCard .loginrightCard .ForgotPasswordM {
  font-size: 14px;
  text-align: right;
  font-weight: 600;
  display: block;
  margin-top: 10px;
}
.loginsection .loginCard .loginrightCard .forgotPasswordeye {
  position: relative;
}
.loginsection .loginCard .loginrightCard .forgotPasswordeye span {
  position: absolute;
  right: 10px;
  top: 23px;
  cursor: pointer;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginsection .loginCard .loginrightCard .btnlogin {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}