.missionVissionRow {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .missionVissionRow {
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 0;
  }
}
.missionVissionRow .missionVissionCol {
  max-width: 33.3%;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .missionVissionRow .missionVissionCol {
    max-width: calc(50% - 15px);
  }
}
@media only screen and (max-width: 767px) {
  .missionVissionRow .missionVissionCol {
    max-width: 100%;
  }
}
.missionVissionRow .missionVissionCol .missionVissionItem {
  background: var(--white-color);
  border: 1px solid var(--divider-color);
  border-radius: 20px;
  height: calc(100% - 30px);
  margin-bottom: 30px;
  overflow: hidden;
}
.missionVissionRow .missionVissionCol .missionVissionItem:hover {
  transition: 0.5s;
}
.missionVissionRow .missionVissionCol .missionVissionItem:hover .missionVissionImage img {
  transform: scale(1.1);
}
.missionVissionRow .missionVissionCol .missionVissionItem:hover .iconBox {
  transition: 0.5s;
}
.missionVissionRow .missionVissionCol .missionVissionItem:hover .iconBox::before {
  transition: 0.5s;
  transform: scale(1) rotate(45deg);
}
.missionVissionRow .missionVissionCol .missionVissionItem .missionVissionImage img {
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  aspect-ratio: 1/0.59;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.missionVissionRow .missionVissionCol .missionVissionItem .missionVissionContent {
  position: relative;
  z-index: 1;
}
.missionVissionRow .missionVissionCol .missionVissionItem .missionVissionContent h3 {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
}
.missionVissionRow .missionVissionCol .missionVissionItem .missionVissionContent p {
  margin: 0;
  transition: all 0.4s ease-in-out;
}
.missionVissionRow .missionVissionCol .missionVissionItem .missionVissionHeader {
  position: relative;
  padding: 20px;
  min-height: 290px;
}
.missionVissionRow .missionVissionCol .missionVissionItem .missionVissionHeader:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--rv-secondary);
  z-index: 0;
  transition: all 0.4s ease-in-out;
}
.missionVissionRow .missionVissionCol .missionVissionItem .iconBox {
  background: var(--rv-secondary);
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0 0 15px 0 #999;
  position: relative;
}
.missionVissionRow .missionVissionCol .missionVissionItem .iconBox::before {
  content: "";
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--rv-secondary);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.missionVissionRow .missionVissionCol .missionVissionItem .iconBox img {
  filter: drop-shadow(2px 4px 6px black) brightness(0) invert(1);
}

.aboutSectionhRow {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media only screen and (max-width: 992px) {
  .aboutSectionhRow {
    justify-content: start;
  }
}
.aboutSectionhRow .aboutSectionhCol1 {
  max-width: 600px;
}
@media only screen and (max-width: 992px) {
  .aboutSectionhRow .aboutSectionhCol1 {
    max-width: 100%;
  }
}/*# sourceMappingURL=about.module.css.map */